---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Poems">
  <p class="index-intro">A collection of poems.</p>
  <ul class="poem-list">
    <li>
      <span class="poem-number">I</span>
      <a href="/poems/fluent-in-fine">Fluent in Fine</a>
    </li>
    <li>
      <span class="poem-number">II</span>
      <a href="/poems/the-other-door">The Other Door</a>
    </li>
    <li>
      <span class="poem-number">III</span>
      <a href="/poems/translation">Translation</a>
    </li>
  </ul>
</Layout>
